name: Terraform Deploy S3

on:
  # Trigger manually via GitHub Actions UI
  workflow_dispatch:

jobs:
  terraform:
    name: Terraform S3 Deployment
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: 1.5.0

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.TF_REGION }}
    
    - name: Check Current Directory
      run: pwd

    - name: Verify Directory Structure
      run: ls -R  # This ensures the modules directory and other files are correctly checked out

    - name: Initialize Terraform
      run: |
          cd /home/runner/work/terraform-ghactions/terraform-ghactions
            terraform init


    - name: Plan Terraform
      run: terraform plan -var="bucket_name=${{ secrets.TF_BUCKET_NAME }}" \
                          -var="region=${{ secrets.TF_REGION }}" \
                          -var="acl=${{ secrets.TF_ACL }}"

    - name: Apply Terraform
      run: terraform apply -auto-approve -var="bucket_name=${{ secrets.TF_BUCKET_NAME }}" \
                                         -var="region=${{ secrets.TF_REGION }}" \
                                         -var="acl=${{ secrets.TF_ACL }}"
